openapi: 3.0.1
info:
  title: Bundestag DIP
  description: defaultDescription
  version: "0.1"
servers:
  - url: "https://search.dip.bundestag.de"
security:
  - bearerAuth: []
paths:
  /api/v1/aktivitaet:
    get:
      tags:
        - Dip
      operationId: getAktivitaeten
      description: Metadaten zu Aktivitäte
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/DateStart"
        - $ref: "#/components/parameters/DateEnd"
        - $ref: "#/components/parameters/Format"
        - $ref: "#/components/parameters/FId"
        - $ref: "#/components/parameters/Zuordnung"
        - $ref: "#/components/parameters/Drucksache"
        - $ref: "#/components/parameters/Plenarprotokoll"
      responses:
        "200":
          description: Metadaten zu Aktivitäte
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AktivitaetResponse"
  /api/v1/vorgang:
    get:
      tags:
        - Dip
      operationId: getVorgaenge
      description: Auto generated using Swagger Inspector
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Format"
        - $ref: "#/components/parameters/DateStart"
        - $ref: "#/components/parameters/DateEnd"
        - $ref: "#/components/parameters/FId"
        - $ref: "#/components/parameters/Drucksache"
        - $ref: "#/components/parameters/Plenarprotokoll"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VorgangResponse"
  /api/v1/plenarprotokoll:
    get:
      tags:
        - Dip
      operationId: getPlenarprotokolle
      description: Auto generated using Swagger Inspector
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/DateStart"
        - $ref: "#/components/parameters/DateEnd"
        - $ref: "#/components/parameters/Format"
        - $ref: "#/components/parameters/FId"
        - $ref: "#/components/parameters/Zuordnung"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlenarprotokollResponse"
  /api/v1/drucksache:
    get:
      tags:
        - Dip
      operationId: getDrucksachen
      description: Auto generated using Swagger Inspector
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/DateStart"
        - $ref: "#/components/parameters/DateEnd"
        - $ref: "#/components/parameters/Format"
        - $ref: "#/components/parameters/FId"
        - $ref: "#/components/parameters/Zuordnung"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DrucksacheResponse"
  /api/v1/person:
    get:
      tags:
        - Dip
      operationId: getPersonen
      description: Auto generated using Swagger Inspector
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/DateStart"
        - $ref: "#/components/parameters/DateEnd"
        - $ref: "#/components/parameters/Format"
        - $ref: "#/components/parameters/FId"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PersonResponse"
  /api/v1/vorgangsposition:
    get:
      tags:
        - Dip
      operationId: getVorgangspositionen
      description: Metadaten zu Vorgangspositionen
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/DateStart"
        - $ref: "#/components/parameters/DateEnd"
        - $ref: "#/components/parameters/Format"
        - $ref: "#/components/parameters/FId"
        - $ref: "#/components/parameters/Zuordnung"
        - $ref: "#/components/parameters/Drucksache"
        - $ref: "#/components/parameters/Plenarprotokoll"
        - $ref: "#/components/parameters/Vorgang"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VorgangspositionResponse"
  /api/v1/aktivitaet/{id}:
    get:
      tags:
        - Dip
      operationId: getAktivitaet
      description: Metadaten zu Vorgangspositionen
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Aktivitaet"
  /api/v1/vorgang/{id}:
    get:
      tags:
        - Dip
      operationId: getVorgang
      description: Metadaten zu Vorgangspositionen
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vorgang"
  /api/v1/plenarprotokoll/{id}:
    get:
      tags:
        - Dip
      operationId: getPlenarprotokoll
      description: Metadaten zu Vorgangspositionen
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plenarprotokoll"
  /api/v1/drucksache/{id}:
    get:
      tags:
        - Dip
      operationId: getDrucksache
      description: Metadaten zu Vorgangspositionen
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Drucksache"
  /api/v1/person/{id}:
    get:
      tags:
        - Dip
      operationId: getPerson
      description: Metadaten zu Vorgangspositionen
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Person"
  /api/v1/vorgangsposition/{id}:
    get:
      tags:
        - Dip
      operationId: getVorgangsposition
      description: Metadaten zu Vorgangspositionen
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Format"
      responses:
        "200":
          description: Auto generated using Swagger Inspector
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vorgangsposition"
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: string
      example: 234344
    FId:
      name: f.id
      in: query
      schema:
        type: string
      example: "279028"
    Cursor:
      name: cursor
      in: query
      schema:
        type: string
      example: AoJwwLKE9%2FkCLlZvcmdhbmctMjc5MDMw
    DateStart:
      name: f.datum.start
      in: query
      schema:
        $ref: "#/components/schemas/DateProp"
      example: "2021-06-13"
    DateEnd:
      name: f.datum.end
      in: query
      schema:
        $ref: "#/components/schemas/DateProp"
      example: "2021-06-13"
    Zuordnung:
      name: f.zuordnung
      in: query
      schema:
        $ref: "#/components/schemas/ZuordnungProp"
    Format:
      name: format
      in: query
      schema:
        $ref: "#/components/schemas/FormatProp"
    Drucksache:
      name: f.drucksache
      in: query
      schema:
        type: string
      example: "279029"
    Plenarprotokoll:
      name: f.plenarprotokoll
      in: query
      schema:
        type: string
      example: "279029"
    Vorgang:
      name: f.vorgang
      in: query
      schema:
        type: string
      example: "84394"
    Ressourcentyp:
      name: ressourcentyp
      in: path
      required: true
      schema:
        type: string
        enum:
          [
            aktivitaet,
            drucksache,
            person,
            plenarprotokoll,
            vorgang,
            vorgangsposition,
          ]
  securitySchemes:
    bearerAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "Enter your bearer token in the format ***ApiKey XYZ…***"
  schemas:
    AktivitaetResponse:
      type: object
      properties:
        numFound:
          type: integer
          format: int32
          example: 1539079
        documents:
          type: array
          items:
            $ref: "#/components/schemas/Aktivitaet"
        cursor:
          type: string
          example: AoJwwLKE9/kCMkFrdGl2aXRhZXQtMTU2MDQ2MQ==
    VorgangResponse:
      type: object
      properties:
        numFound:
          type: integer
          format: int32
          example: 1539079
        documents:
          type: array
          items:
            $ref: "#/components/schemas/Vorgang"
        cursor:
          type: string
          example: AoJwwLKE9/kCMkFrdGl2aXRhZXQtMTU2MDQ2MQ==
    VorgangspositionResponse:
      type: object
      properties:
        numFound:
          type: integer
          format: int32
          example: 1539079
        documents:
          type: array
          items:
            $ref: "#/components/schemas/Vorgangsposition"
        cursor:
          type: string
          example: AoJwwLKE9/kCMkFrdGl2aXRhZXQtMTU2MDQ2MQ==
    PlenarprotokollResponse:
      type: object
      properties:
        numFound:
          type: integer
          format: int32
          example: 1539079
        documents:
          type: array
          items:
            $ref: "#/components/schemas/Plenarprotokoll"
        cursor:
          type: string
          example: AoJwwLKE9/kCMkFrdGl2aXRhZXQtMTU2MDQ2MQ==
    DrucksacheResponse:
      type: object
      properties:
        numFound:
          type: integer
          format: int32
          example: 1539079
        documents:
          type: array
          items:
            $ref: "#/components/schemas/Drucksache"
        cursor:
          type: string
          example: AoJwwLKE9/kCMkFrdGl2aXRhZXQtMTU2MDQ2MQ==
    PersonResponse:
      type: object
      properties:
        numFound:
          type: integer
          format: int32
          example: 1539079
        documents:
          type: array
          items:
            $ref: "#/components/schemas/Person"
        cursor:
          type: string
          example: AoJwwLKE9/kCMkFrdGl2aXRhZXQtMTU2MDQ2MQ==
    Aktivitaet:
      type: object
      properties:
        id:
          type: string
          example: 1559848
        aktivitaetsart:
          type: string
          example: Berichterstattung
        typ:
          type: string
          enum: ["Aktivität"]
          example: Aktivität
        vorgangsbezug_anzahl:
          type: integer
          format: int32
          example: 4
        dokumentart:
          type: string
          enum: ["Drucksache", "Plenarprotokoll"]
          example: Drucksache
        wahlperiode:
          type: integer
          format: int32
          example: 19
        datum:
          type: string
          format: date
          example: 2021-06-10
        titel:
          type: string
          example: Wilhelm von Gottberg MdB AfD
        fundstelle:
          $ref: "#/components/schemas/Fundstelle"
        vorgangsbezug:
          type: array
          items:
            $ref: "#/components/schemas/Vorgangsbezug"
        deskriptor:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              typ:
                type: string
                enum:
                  [
                    "Freier Deskriptor",
                    "Geograph. Begriffe",
                    "Institutionen",
                    "Personen",
                    "Rechtsmaterialien",
                    "Sachbegriffe",
                  ]
            required:
              - name
              - typ
        abstract:
          type: string
      required:
        - id
        - aktivitaetsart
        - typ
        - vorgangsbezug_anzahl
        - dokumentart
        - wahlperiode
        - datum
        - titel
        - fundstelle
    Vorgangsposition:
      type: object
      properties:
        id:
          type: string
          example: 1
        vorgangsposition:
          type: string
          example: Antrag zur Weitergeltung der Geschäftsordnung
        zuordnung:
          type: string
          enum: ["BT", "BR", "BV", "EK"]
          example: BT
        gang:
          type: boolean
        fortsetzung:
          type: boolean
        nachtrag:
          type: boolean
        vorgangstyp:
          type: string
          example: Geschäftsordnung
        typ:
          type: string
          enum: ["Vorgangsposition"]
          example: Vorgangsposition
        titel:
          type: string
          example: Weitergeltung von Geschäftsordnungsrecht
        aktivitaet_anzahl:
          type: integer
          format: int32
          example: 0
        dokumentart:
          type: string
          enum: ["Drucksache", "Plenarprotokoll"]
          example: Drucksache
        vorgang_id:
          type: string
          example: 3
        datum:
          type: string
          format: date
          example: 2005-10-18
        fundstelle:
          $ref: "#/components/schemas/Fundstelle"
        urheber:
          $ref: "#/components/schemas/Urheber"
        ueberweisung:
          type: array
          items:
            type: object
            properties:
              ausschuss:
                type: string
              ausschuss_kuerzel:
                type: string
              federfuehrung:
                type: boolean
              ueberweisungsart:
                type: string
            required:
              - ausschuss
              - ausschuss_kuerzel
              - federfuehrung
        aktivitaet_anzeige:
          type: array
          items:
            type: object
            properties:
              aktivitaetsart:
                type: string
              titel:
                type: string
              pdf_url:
                type: string
              seite:
                type: string
            required:
              - aktivitaetsart
              - titel
        ressort:
          type: array
          items:
            type: object
            properties:
              federfuehrend:
                type: boolean
              titel:
                type: string
            required:
              - federfuehrend
              - titel
        beschlussfassung:
          type: array
          items:
            type: object
            properties:
              beschlusstenor:
                type: string
              seite:
                type: string
              abstimmungsart:
                type: string
                enum:
                  [
                    "Abstimmung durch Aufruf der Länder",
                    "Geheime Wahl",
                    "Hammelsprung",
                    "Namentliche Abstimmung",
                    "Verhältniswahl",
                  ]
              abstimm_ergebnis_bemerkung:
                type: string
              grundlage:
                type: string
              dokumentnummer:
                type: string
              mehrheit:
                type: string
                enum: ["Absolute Mehrheit", "Zweidrittelmehrheit"]
            required:
              - beschlusstenor
        ratsdok:
          type: string
        kom:
          type: string
        mitberaten:
          type: array
          items:
            type: object
            properties:
              vorgangsposition:
                type: string
              vorgangstyp:
                type: string
              titel:
                type: string
              id:
                type: string
            required:
              - vorgangsposition
              - vorgangstyp
              - titel
              - id
        abstract:
          type: string
        sek:
          type: string
    Vorgang:
      type: object
      properties:
        id:
          type: string
          example: 1
        beratungsstand:
          type: string
        vorgangstyp:
          type: string
          example: Geschäftsordnung
        typ:
          type: string
          enum: ["Vorgang"]
          example: Vorgangsposition
        wahlperiode:
          type: integer
          format: int32
        initiative:
          type: array
          items:
            type: string
        datum:
          type: string
          format: date
          example: 2005-10-18
        titel:
          type: string
          example: Weitergeltung von Geschäftsordnungsrecht
        abstract:
          type: string
        sachgebiet:
          type: array
          items:
            type: string
        deskriptor:
          type: array
          items:
            type: object
            properties:
              fundstelle:
                type: boolean
              name:
                type: string
              typ:
                type: string
            required:
              - fundstelle
              - name
              - typ
        gesta:
          type: string
        zustimmungsbeduerftigkeit:
          type: array
          items:
            type: string
        kom:
          type: string
        ratsdok:
          type: string
        verkuendung:
          type: array
          items:
            type: object
            properties:
              jahrgang:
                type: string
              heftnummer:
                type: string
              seite:
                type: string
              ausfertigungsdatum:
                type: string
                format: date
                example: 2005-10-18
              verkuendungsdatum:
                type: string
                format: date
                example: 2005-10-18
              einleitungstext:
                type: string
              verkuendungsblatt_bezeichnung:
                type: string
              verkuendungsblatt_kuerzel:
                type: string
              fundstelle:
                type: string
              pdf_url:
                type: string
              titel:
                type: string
            required:
              - jahrgang
              - seite
              - ausfertigungsdatum
              - verkuendungsdatum
              - einleitungstext
              - fundstelle
        inkrafttreten:
          type: array
          items:
            type: object
            properties:
              datum:
                type: string
                format: date
                example: 2005-10-18
              erlaeuterung:
                type: string
            required:
              - datum
        archiv:
          type: string
        mitteilung:
          type: string
        vorgang_verlinkung:
          type: array
          items:
            type: object
            properties:
              verweisung:
                type: string
              titel:
                type: string
              id:
                type: string
              wahlperiode:
                type: integer
                format: int32
              gesta:
                type: string
            required:
              - verweisung
              - titel
              - id
              - wahlperiode
        sek:
          type: string
      required:
        - id
        - vorgangstyp
        - typ
        - wahlperiode
        - titel
    Plenarprotokoll:
      type: object
      properties:
        id:
          type: string
          example: 1
        dokumentart:
          type: string
          enum: ["Plenarprotokoll"]
          example: Drucksache
        typ:
          type: string
          example: Vorgangsposition
        vorgangsbezug_anzahl:
          type: integer
          format: int32
        dokumentnummer:
          type: string
        wahlperiode:
          type: integer
          format: int32
        herausgeber:
          type: string
          enum: ["BT", "BR", "BV", "EK"]
        datum:
          type: string
          format: date
          example: 2005-10-18
        titel:
          type: string
          example: Weitergeltung von Geschäftsordnungsrecht
        fundstelle:
          $ref: "#/components/schemas/Fundstelle"
        vorgangsbezug:
          type: array
          items:
            $ref: "#/components/schemas/Vorgangsbezug"
        sitzungsbemerkung:
          type: string
      required:
        - id
        - dokumentart
        - typ
        - vorgangsbezug_anzahl
        - dokumentnummer
        - herausgeber
        - datum
        - titel
        - fundstelle
    Drucksache:
      type: object
      properties:
        id:
          type: string
          example: 1
        drucksachetyp:
          type: string
        dokumentart:
          type: string
          enum: ["Drucksache"]
          example: Drucksache
        autoren_anzahl:
          type: integer
          format: int32
        typ:
          type: string
          enum: ["Dokument"]
          example: Vorgangsposition
        vorgangsbezug_anzahl:
          type: integer
          format: int32
        dokumentnummer:
          type: string
        wahlperiode:
          type: integer
          format: int32
        herausgeber:
          type: string
          enum: ["BT", "BR"]
        datum:
          type: string
          format: date
          example: 2005-10-18
        titel:
          type: string
          example: Weitergeltung von Geschäftsordnungsrecht
        autoren_anzeige:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              autor_titel:
                type: string
            required:
              - id
              - title
              - autor_titel
        fundstelle:
          $ref: "#/components/schemas/Fundstelle"
        urheber:
          $ref: "#/components/schemas/Urheber"
        vorgangsbezug:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              title:
                type: string
              vorgangstyp:
                type: string
            required:
              - id
              - title
              - vorgangstyp
        ressort:
          type: array
          items:
            type: object
            properties:
              federfuehrend:
                type: boolean
              title:
                type: string
            required:
              - federfuehrend
              - title
        anlagen:
          type: string
      required:
        - id
        - drucksachetyp
        - dokumentart
        - autoren_anzahl
        - typ
        - vorgangsbezug_anzahl
        - dokumentnummer
        - herausgeber
        - datum
        - titel
        - fundstelle
    Person:
      type: object
      properties:
        id:
          type: string
          example: 2224
        nachname:
          type: string
          example: Hocker
        vorname:
          type: string
          example: Gero Clemens
        typ:
          type: string
          example: Person
        wahlperiode:
          type: integer
          format: int32
          example: 19
        basisdatum:
          type: string
          format: date
          example: 2017-12-22
        datum:
          type: string
          format: date
          example: 2021-06-10
        titel:
          type: string
          example: Dr.  Gero Clemens Hocker MdB FDP
        person_roles:
          type: array
          items:
            type: object
            properties:
              funktion:
                type: string
              fraktion:
                type: string
              nachname:
                type: string
              vorname:
                type: string
              wahlperiode_nummer:
                type: array
                items:
                  type: integer
                  format: int32
              wahlkreiszusatz:
                type: string
              ressort_titel:
                type: string
              funktionszusatz:
                type: string
              bundesland:
                $ref: "#/components/schemas/Bundesland"
              namenszusatz:
                type: string
            required:
              - funktion
              - nachname
              - vorname
        namenszusatz:
          type: string
      required:
        - id
        - nachname
        - vorname
        - typ
        - titel
    FormatProp:
      type: string
      enum: [json, xml]
    ZuordnungProp:
      type: string
      enum: [BT, BR, BV, EK]
    DateProp:
      type: string
      format: date
    Urheber:
      type: object
      properties:
        einbringer:
          type: boolean
        bezeichnung:
          type: string
          example: B90/GR
        titel:
          type: string
          example: Fraktion BÜNDNIS 90/DIE GRÜNEN
        rolle:
          type: string
          enum: ["B", "U"]
      required:
        - bezeichnung
        - titel
    Fundstelle:
      type: object
      properties:
        pdf_url:
          type: string
          example: https://dserver.bundestag.de/btd/19/305/1930513.pdf
        id:
          type: string
          example: 255234
        dokumentnummer:
          type: string
          example: 19/30513
        datum:
          type: string
          format: date
          example: 2021-06-10
        dokumentart:
          type: string
          enum: ["Drucksache", "Plenarprotokoll"]
          example: Drucksache
        drucksachetyp:
          type: string
          example: Beschlussempfehlung und Bericht
        herausgeber:
          type: string
          enum: ["BT", "BR", "BV", "EK"]
          example: BT
        urheber:
          type: array
          items:
            oneOf:
              - type: string
                example: Fraktion BÜNDNIS 90/DIE GRÜNEN
              - $ref: "#/components/schemas/Urheber"
        verteildatum:
          type: string
          format: date
          example: 2021-06-10
        seite:
          type: string
        anfangsseite:
          type: integer
        endseite:
          type: integer
        anfangsquadrant:
          $ref: "#/components/schemas/Quadrant"
        endquadrant:
          $ref: "#/components/schemas/Quadrant"
        frage_nummer:
          type: string
        anlagen:
          type: string
        top:
          type: integer
          format: int32
        top_zusatz:
          type: string
      required:
        - id
        - dokumentnummer
        - datum
        - dokumentart
        - herausgeber
        - urheber
    Quadrant:
      type: string
      enum: ["A", "B", "C", "D", "S", "V"]
    Vorgangsbezug:
      type: object
      properties:
        vorgangsposition:
          type: string
          example: Beschlussempfehlung und Bericht
        vorgangstyp:
          type: string
          example: Gesetzgebung
        titel:
          type: string
          example: Gesetz zur Durchführung der im Rahmen der Gemeinsamen Agrarpolitik geltenden Konditionalität (GAP-Konditionalitäten-Gesetz - GAPKondG)
        id:
          type: string
          example: 276643
      required:
        - vorgangsposition
        - vorgangstyp
        - titel
        - id
    Bundesland:
      type: string
      enum:
        [
          "Baden-Württemberg",
          "Bayern",
          "Berlin",
          "Brandenburg",
          "Bremen",
          "Hamburg",
          "Hessen",
          "Mecklenburg-Vorpommern",
          "Niedersachsen",
          "Nordrhein-Westfalen",
          "Rheinland-Pfalz",
          "Saarland",
          "Sachsen",
          "Sachsen-Anhalt",
          "Schleswig-Holstein",
          "Thüringen",
        ]
